/* :root {
  --primary-color: #3463FF;
  --primary-hover-color: #ffffff;
  --secondary-color: #B10808;
  --secondary-hover-color: #ffc843;
  --secondary-light-color: #777777;
  --background-color: #f7f7f7;
  --border-color: #e5e5e5;
} */
